
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}





.navbar {
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 140px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
}

.nav-links .active {
    color: #ff4e15;
    font-weight: bold;
}


.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 112px);
   
}


.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.hero-content {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  
}

.small-title {
    font-size: 18px;

}

.hero-content h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
}

.sub-text {
    font-size: 16px;
    opacity: 0.9;
    margin-bottom: 30px;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 14px 32px;
    font-size: 16px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
}

.main-btn {
    background: #ff4e15;
    color: white;
}

.outline-btn {
    border: 2px solid white;
    color: white;
}


.hero-images {
    position: relative;
   
}

.phone-left {
    transform: translate(-50%, -35%);
    position: absolute;
    left: 45%;
    top: 0%;
}
.phone-right {
    transform: translate(-50%, -20%);
    position: absolute;
    left: 64%;
}




